apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: demo-app
  namespace: default
  labels:
    app: demo-app
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: ((azure-container-registry-repository)):latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
	  restartPolicy: Always